.thumbnail{
    margin-left: 5px;
}
.pull-right{
    margin-right: 4px
}
.navbar{
    margin-top:10px;
    background: #cccccc;
}
body{
    background: #cc6666;
}
.lgpan{
    margin-top:40px;
    background: #cccccc;
}
